.container {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 350px;
  background: #6d5650;
  background: linear-gradient(0deg, rgb(194, 112, 35) 0%, rgb(78, 80, 82) 100%);
  border-radius: 40px;
  padding: 25px 35px;
  border: 5px gray rgb(143, 79, 79);
  box-shadow: rgba(215, 193, 133, 0.878) 0px 30px 30px -20px;
  margin: 20px;
}

.appname{
  display: block;
  width: 100%;
  font-family: 'Brush Script MT', cursive;
  font-weight: bold;
  font-size: 4rem;
  text-align: center;
  background: linear-gradient(to bottom, rgb(238, 203, 8) 0%, rgb(209, 88, 18)100%);
  color: white;
  padding-block: 10px;
  margin: 20px auto;
  border-radius: 20px;
  border: none;
}

.Letme{
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  color: rgb(238, 238, 227);
}

.enter{
  display: block;
  width: 50%;
  font-weight: bold;
  background: linear-gradient(to bottom, rgb(238, 203, 8) 0%, rgb(209, 88, 18)100%);
  color: white;
  padding-block: 10px;
  margin: 10px auto;
  border-radius: 50px;
  box-shadow: rgba(91, 99, 26, 0.878) 0px 20px 10px -15px;
  border: none;
  transition: all 0.2s ease-in-out;
}

.enter:hover {
  transform: scale(1.03);
  background: linear-gradient(to bottom, rgb(209, 88, 18)10%,rgb(238, 203, 8) 100%);
}

.heading {
  text-align: center;
  font-weight: 900;
  font-size: 30px;
  color: rgb(250, 248, 246);
}

.form {
  margin-top: 20px;
}

.form .input {
  width: 100%;
  background: white;
  border: none;
  padding: 15px 20px;
  border-radius: 20px;
  margin-top: 15px;
  box-shadow: rgba(91, 99, 26, 0.878) 0px 20px 10px -15px;
  border-inline: 2px solid transparent;
}

.form .input::-moz-placeholder {
  color: rgb(170, 170, 170);
}

.form .input::placeholder {
  color: rgb(170, 170, 170);
}

.form .input:focus {
  outline: none;
  border-inline: 2px solid #12B1D1;
}

.register {
  font-size: 15px;
  color: #84939c;
  text-decoration:underline;
}

.form .login-button {
  display: block;
  width: 100%;
  font-weight: bold;
  background: linear-gradient(to bottom, rgb(238, 203, 8) 0%, rgb(209, 88, 18)100%);
  color: white;
  padding-block: 15px;
  margin: 20px auto;
  border-radius: 20px;
  box-shadow: rgba(91, 99, 26, 0.878) 0px 20px 10px -15px;
  border: none;
  transition: all 0.2s ease-in-out;
}

.form .login-button:hover {
  transform: scale(1.03);
  background: linear-gradient(to bottom, rgb(209, 88, 18)10%,rgb(238, 203, 8) 100%);
}

.form .login-button:active {
  transform: scale(0.95);
  box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 15px 10px -10px;
}
